body {
    background-color: #FFFFFF;
    overflow-y:scroll;
    margin: 0;
    padding: 10px;
    border: 8px solid #00cdbe;
}

.actionText {
    display: flex;
    align-items: center;
}

.actionText img {
    padding-right: 10px;
}

.actionText p {
    display: inline;
}

.pageWrapper {
    margin: 0 auto;
    width: 100%;
}

.wmHeader {
    background-image: url("./images/wmheader.png");
    background-color: #fff;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
}

.bannerAd {
    background-image: url("./images/bannerAd.jpeg");
    background-color: #fff;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contentWrapper {
    display: flex;
    justify-content: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #4A4A4A;
}

.textColumn {
    margin: 150px 0 0 160px;
}


.middleContainer {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}

.counter {
    text-align: center;
    margin-top: 30px;
}

#candies {
    font-size: 52px;
    color: #4A4A4A;
}

.candies_subtext {
    font-size: 26px;
    color: #4A4A4A; 
    margin: 10px 0;
}

.nug_img {
    background-image: url("./images/nug.jpg");
    background-color: #fff;
    height: 305px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    background-size: contain;

}

.product_offer_text {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 25px; 
    margin-bottom: 0;
    color: #4A4A4A;
}

.product_offer {
    background-image: url("./images/product.png");
    background-color: #fff;
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
    background-size: contain;
}

.actionsContainer {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#indoorGrowBox {
    visibility: hidden;
}

#outdoorGrowBox {
    visibility: hidden;
}

#dispensaryBox {
    visibility: hidden;
}

.action_button_wrapper {
    display: flex;
    visibility: hidden;
    align-items: center;
}

.action_button {
    width: 320px;
    height: 100px;
    margin: 25px 0;
    border-radius: 100px;
    border: none;
    color: white;
    background: #01A8A3;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
}

.action_button:hover {
    transform: scale(1.015);
    box-shadow: 0px 4px 4px #00000026;
}

.action_button:focus {
    outline:0
}

.action_button:disabled {
    background-color: #8e8e8e;
}

.action_modifier_button {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: none;
    color: white;
    background: #01A8A3;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.action_modifier_button:focus {
    outline:0
}

.action_modifier_button:disabled {
    background-color: #8e8e8e;
}

#candies_eaten {
    visibility: hidden;
}

#candies_thrown {
    visibility: hidden;
}