body {
    background-color: #FFFFFF;
    overflow-y:scroll;
}

.actionText {
    display: flex;
    align-items: center;
}

.actionText img {
    padding-right: 10px;
}

.actionText p {
    display: inline;
}

#indoorGrowBox {
    visibility: hidden;
}

#outdoorGrowBox {
    visibility: hidden;
}

#dispensaryBox {
    visibility: hidden;
}