body {
    background-color: #FFFFFF;
    overflow-y:scroll;
    margin: 0;
    padding: 10px;
    border: 8px solid #00cdbe;
}

.actionText {
    display: flex;
    align-items: center;
}

.actionText img {
    padding-right: 10px;
}

.actionText p {
    display: inline;
}

.pageWrapper {
    margin: 0 auto;
    width: 100%;
}

.bannerAd {
    background-image: url("./images/bannerAd.jpeg");
    background-color: #fff;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

#indoorGrowBox {
    visibility: hidden;
}

#outdoorGrowBox {
    visibility: hidden;
}

#dispensaryBox {
    visibility: hidden;
}

.action_button {
    visibility: hidden;
}

#candies_eaten {
    visibility: hidden;
}

#candies_thrown {
    visibility: hidden;
}